<h1>Plus Ultra!</h1>

<h1>Team Name:</h1> <%= @team.name %>
<h2>Team Motto:</h2> <%= @team.motto %>

<% @superheroes.each do |hero| %>
  <h2>Hero Name: <%= hero.name %></h2><br>
  <h3>Hero Power: <%= hero.power %></h3><br>
  <h3>Hero Biography: <%= hero.bio %></h3><br>
